.cartContainer {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--secondary-background);
  border: 1px solid var(--primary-background);
}

.cartList {
  height: 100%;
  overflow-y: auto;
  padding: 10px;
}

.cartItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 6px 0;
  color: var(--body-text);
  background-color: var(--primary-background);
  border: 1px solid var(--primary-background);
  border-radius: 4px;
  box-shadow: 0 2px 8px var(--shadow);
}

.cartItem:last-child {
  border-bottom: none;
}

.cartItemImage {
  width: 50px;
  height: 50px;
  position: relative;
  object-fit: cover;
  margin-right: 10px;
}

.cartItemDetails {
  flex: 1;
  margin-right: 10px;
}

.cartItemTotal {
  padding: 0 10px;
  font-weight: bold;
}

.cartItemActions {
  display: flex;
  align-items: center;
  gap: 5px;
}

.quantityButton {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.deleteButton {
  padding: 5px 10px;
  color: white;
  background-color: var(--button-secondary);
  border: 1px solid var(--button-secondary-hover);
  border-radius: 4px;
  cursor: pointer;
  
  &:hover {
    background-color: var(--button-secondary-hover);
  }
}
.cartSummary {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.emptyCartMessage {
  text-align: center;
  font-size: 18px;
  color: #666;
}

.cartSummary {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clearCartButton {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin: 5px 0;
  cursor: pointer;
  background-color: var(--button-secondary);
  border: 1px solid var(--button-secondary-hover);
  border-radius: 4px;

  &:hover {
    background-color: var(--button-secondary-hover);
  }
}