.loginForm {
  max-width: 400px;
  margin: 0 auto;
  padding: 2.6rem;
  background-color: var(--secondary-background);
  border-radius: 16px;

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1.6rem;
  }

  .inputGroup {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    label {
      font-weight: 500;
      color: var(--body-text);
      font-size: 0.95rem;
    }
  
    input {
      padding: 0.6rem 0.8rem;
      border: 1px solid var(--light-background-shade);
      
      border-radius: 8px;
      background-color: var(--light-background);
      color: var(--body-text);
      font-size: 1rem;
      transition: all 0.2s ease;
  
      &:focus {
        outline: none;
        border-color: var(--primary-accent);
        box-shadow: 0 0 0 2px rgba(206, 146, 44, 0.2);
      }
    }

    input:invalid,
    input.error {
      border-color: var(--error);
    }
  }
}


.error {
  color: var(--error);
  font-size: 0.875rem;
}

.submitButton {
  font-size: 1.1rem;
  font-weight: 600;
  background-color: var(--button);
  border-radius: 8px;
  padding: 0.75rem;
  cursor: pointer;
  color: var(--text-invert);
  border: none;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: var(--button-hover);
  }

  &:disabled {
    background-color: var(--light-background-shade);
    color: var(--body-text);
    cursor: not-allowed;
  }
}

.inlineSpinner {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 3px solid var(--primary-accent);
  border-right-color: var(--primary-accent-light);
  animation: rotate 0.8s linear infinite;
  margin: 0 auto;
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}

