.navbar {
  width: 60px;
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 10;
  transition: width 0.3s ease;
  .linkName {
    opacity: 0;
    transform: translateX(-20px);
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
}

.navbar:hover {
  width: 200px;
  .linkName {
    opacity: 1;
    transform: translateX(0);
  }
}

.logo {
  padding: 10px 0;
  width: 100%;
  text-align: center;
  img {
    border-radius: 8px;
  }
}

.navLinks {
  list-style: none;
  padding: 0;
  li {
    margin: 18px;
    height: 26px;
    width: 26px;
    a {
      color: white;
      font-size: 24px;
      text-decoration: none;
      display: inline-flex; /* Ensures the children are inline and aligned */
      svg {
        margin-right: 10px;
        width: 24px;
        height: 24px;
      }
      .linkName {
        display: inline;
      }
    }
  }
}