.navbar {
  width: 60px;
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: column;
  // align-items: center;
  align-items: flex-start;
  padding: 10px 0;
  position: sticky;
  top: 0;
  transition: width 0.3s ease;
  overflow: hidden; /* Hide overflowing content */
}

.navbar:hover {
  width: 200px; /* Expanded width */
}

.logo {
  margin-bottom: 20px;
}

.navLinks {
  list-style: none;
  padding: 0;
  li {
    margin: 18px;
    height: 26px;
    width: 26px;
    a {
      color: white;
      font-size: 24px;
      text-decoration: none;
      svg {
        width: 100%;
        height: 100%;
      }
    }
  }
}


.linkName {
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease;
}

.navbar:hover .linkName {
  opacity: 1; /* Visible when navbar is expanded */
}