.ordersContainer {
  display: flex;
  gap: 2rem;
  padding: 1rem;
  color: var(--body-text);
} 

.ordersTableWrapper {
  flex: 2;
  margin: 20px 0;
  border: 1px solid var(--secondary-background);
  border-radius: 8px;
  overflow: auto;
  table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    background-color: var(--light-background);

    th, td {
      padding: 1rem 0.5rem;
      text-align: center;
    }

    th {
      background-color: var(--secondary-background);
      font-weight: bold;
      color: var(--body-text);
      &:first-child {
        max-width: 5rem;
      }
    }

    tbody tr {
      background-color: var(--light-background);
      cursor: pointer;
      transition: all 0.2s ease-in;
      &:nth-child(odd) {
        background-color: var(--light-background-shade);
      }
      &:hover {
        background-color: var(--primary-accent-light);
      }
      &.selected {
        background-color: var(--primary-accent-light);
      }
    }


  }
}

.orderContainer {
  flex: 1;
  margin: 20px 0;
  .placeholder {
    padding-top: 20px;
  }
}

.orderDetails {
  padding: 20px;
  border: 1px solid var(--secondary-background);
  border-radius: 8px;
  background-color: var(--light-background);

  p {
    line-height: 1.5;
    font-size: 16px;
    color: var(--body-text);
  }
}

.orderHeader {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
  color: var(--header-text);
}

.orderInfo {
  margin-bottom: 20px;
}

.productsHeader {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 12px;
  color: var(--header-text);
}

.productsList {
  list-style-type: none;
  padding: 0;
  margin: 1rem 0;
}

.orderItem {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: .4rem 0;
  .productTitle {
    font-weight: 500;
  }
  .productPrice {
    font-size: .9rem;
  }
  .productTotal {
    font-weight: 600;
    color: var(--primary-accent);
  }
}

.total {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 2rem;
  border-top: 1px solid var(--secondary-background);
  padding: 1rem 0;

  p {
    font-size: 1.2rem;
  }
  .totalTxt {
    font-weight: 500;
  }
}