.ordersContainer {
  display: flex;
  gap: 2rem;
  padding: 1rem;
  color: var(--body-text);
} 

.ordersTableWrapper {
  flex: 1;
  margin: 20px 0;
  border: 1px solid var(--secondary-background);
  border-radius: 8px;
  overflow: auto;
  table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    background-color: var(--light-background);

    th, td {
      padding: 1rem 0.5rem;
      text-align: center;
    }

    th {
      background-color: var(--secondary-background);
      font-weight: bold;
      color: var(--body-text);
      &:first-child {
        max-width: 5rem;
      }
    }

    tbody tr {
      background-color: var(--light-background);
      cursor: pointer;
      transition: all 0.2s ease-in;
      &:nth-child(odd) {
        background-color: var(--light-background-shade);
      }
      &:hover {
        background-color: var(--primary-accent-light);
      }
      &.selected {
        background-color: var(--primary-accent-light);
      }
    }


  }
}

.orderContainer {
  flex: 1;
  margin: 20px 0;
}

.orderDetails {
  padding: 20px;
  border: 1px solid var(--secondary-background);
  border-radius: 8px;
  background-color: var(--light-background);
}

.orderHeader {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
  color: var(--header-text);
}

.orderInfo {
  margin-bottom: 20px;
}

.orderTotal,
.orderStatus,
.orderCreatedAt {
  line-height: 1.5;
  font-size: 16px;
  color: var(--body-text);
}

.productsHeader {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 12px;
  color: var(--header-text);
}

.productsList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.orderItem {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  font-size: 16px;
  color: #444;
}

.orderItem:last-child {
  border-bottom: none;
}

.productName {
  font-weight: bold;
  color: #000;
}

.productQuantity {
  margin-left: 8px;
  color: #666;
}

.productPrice {
  margin-left: 8px;
  color: #007bff;
  font-weight: bold;
}